<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6CuxmnlHQtx-sS5EbhYbsCpJs0wNDQWE</string>
	<key>GCM_SENDER_ID</key>
	<string>871268406183</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.thimarDriver</string>
	<key>PROJECT_ID</key>
	<string>thimar-driver-68cc6</string>
	<key>STORAGE_BUCKET</key>
	<string>thimar-driver-68cc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871268406183:ios:f3d97829cfbddeca9b9c82</string>
</dict>
</plist>